/* Global resets */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	color: #424242;
	line-height: 1.4;
}

/* Fonts */
h1 {
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;
	font-size: 2.5em;
	font-weight: bold;
}

.container {
	margin: 2em auto;
	max-width: 630px;
	text-align: center;
}

/* The following font information and color codes are provided for you.  They do not match the prototype exactly, but they are fine to use for the assignment and doing so does not count against you.  They are simply meant to help you save time.  We would like everyone to have as close to a pixel-perfect match to the prototype as possible.  If you do find a font/color that matches more precisely, please share it with the team so we can improve the activity for future applicants.  Thank you!  Happy coding!

	FONTS:
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;

  COLORS:
  blue: #20A1D4;
  green: #1CBC2C;
  orange: #EF5F3C;
  black: #424242;
  grey: #777;
  light grey: #eaeaea;
*/

/* Your CSS code goes here */
.project-box {
	width:260px;
	margin: 50px auto;
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
}
.main-box {
	width:260px;
	border: 1px solid #D0D0D0;
	padding:0px 16px 12px 16px;
	color:#777;
	font-size: 14px;
	margin-bottom: 10px

}
input[type=text] {
	width: 105px;
	height: 40px;
	float: left;
	font-size: 14px;
	border-radius: 3px;
	border: 1px solid #D0D0D0;

}
.speech-bubble {
	position: relative;
	background: #424242;
	border-radius: .2em;
	color: #eaeaea;
	height: 40px;
	text-align: center;
	padding:10px;
	font-size:14px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 85%;
	width: 0;
	height: 0;
	border:5px solid transparent;
	border-top-color: #424242;
	border-bottom: 0;
	margin-left: -5px;
	margin-bottom: -5px;
}
.box-paragraphs {
	margin: 12px 0;
}
#orange-font {
	color: #EF5F3C;
}

.progress-bar {
	background-color:#eaeaea;
	margin-top: 10px;
	height: 12px;
	border: 1px solid #D0D0D0;
	border-bottom: 0;
}
.completed-bar {
	background-color: #EF5F3C;
	height: 12px;
	width: 75%;
}
.green-button {
	color:white;
	background-color: #1CBC2C;
	width: 105px;
	height: 40px;
	border-radius: 3px;
	border: 0;
	font-size: 14px;
	float: right;
}
form {
	height: 40px;
}
a {
	font-size: 13px;
	color:  #20A1D4;
	text-decoration: none;
	font-weight: bold;
	display:block;
	padding: 3px 0;
}

.save-for-later {
	width: 121px;
	height:30px;
	border-radius: 3px;
	background-color: #eaeaea;
	color: #424242;
	border: 1px solid #D0D0D0;
	font-size: 12px;
}
.tell-your-friends {
	width: 121px;
	height: 30px;
	float: right;
	border-radius: 3px;
	background-color: #eaeaea;
	color: #424242;
	border: 1px solid #D0D0D0;
	font-size: 12px;
}
